@use "../sass/components/_varibles" as v;
.simple-table {
  background-color: var(--white);

  &__table {
    padding-bottom: 64px;

    border: 1px solid var(--grey3);
    border-radius: 12px;
    overflow: hidden;
    transform: translateY(-72px);
    @media (min-width: map-get(v.$grid-breakpoints, sm)) {
      transform: translateY(-75px);
    }
    > :nth-child(odd) {
      background-color: var(--grey5);
    }
    > :nth-child(even) {
      background-color: var(--white);
    }

    div {
      padding: 24px;
      > :nth-child(odd),
      &:first-child {
        font-weight: 600;
      }
      > :nth-child(even) {
        font-weight: 500;
      }

      &:not(:first-child) {
        display: flex;
        align-items: center;
        padding: 12px 24px;
        p {
          flex: 0 1 50%;
        }
      }
    }
  }
}
