*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  font-weight: 400;
  color: var(--black);
  font-family: var(--inter);
  margin: 0;
  font-size: clamp(14px, 3vw, 16px);
  line-height: 1.6;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  scrollbar-width: 10px;
  scrollbar-color: var(--black);
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 13px;
  }

  &::-webkit-scrollbar-track {
    // background: var(--primary-theme);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 50px;
    border: 1px solid var(--primary-theme);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: clamp(24px, 5vw, 40px);
  line-height: clamp(140%, 100vw, 120%);
}

.fixed-page {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex: 1 1 100%;
}

.container {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  // @media (min-width: map-get($grid-breakpoints, md)) {
  //   max-width: 720px;
  // }

  // @media (min-width: map-get($grid-breakpoints, lg)) {
  //   max-width: 950px;
  // }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    max-width: 1312px;
    padding: 0;
  }
}

ul {
  // list-style: none;
}

button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}
