body {
  &.blog,
  &.post-type-archive-current-reports,
  &.post-type-archive-periodic-reports,
  &.post-type-archive-shareholders {
    .posts-content {
      padding: 40px 0;

      article {
        &.active {
          h2,
          #toggleButton {
            color: var((--primary-theme));
          }
          box-shadow: 8px 8px 24px -4px rgba(23, 23, 23, 0.08);
          border: 1px solid transparent;
          #shortText {
            display: none;
            visibility: hidden;
            opacity: 0;
          }
          #fullText {
            visibility: visible;
            opacity: 1;
            display: block !important;
          }
        }

        #shortText {
          visibility: visible;
          opacity: 1;
          transition: visibility 0s, opacity 0.5s linear;
        }
        #fullText {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, opacity 0.5s linear;
        }

        transition: 0.35s;
        padding: 20px;
        border: 1px solid var(--grey3);
        border-radius: 12px;
        &:not(:last-child) {
          margin-bottom: 24px;
        }

        .date-cat {
          font-weight: 600;
          p {
            margin-bottom: 0 !important;
          }
        }

        @media (min-width: map-get($grid-breakpoints, lg)) {
          padding: 40px;
        }

        h2 {
          font-size: clamp(24px, 3vw, 32px);
          padding: 15px 0 30px;
          @media (min-width: map-get($grid-breakpoints, md)) {
            // padding: 30px 0 50px;
          }
        }

        p {
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }

        #toggleButton {
          display: flex;
          margin-top: 24px;
          color: var(--black);
        }

        &.type-periodic-reports,
        &.type-shareholders {
          &.active {
            h2 {
              color: var(--primary-theme);
              &::after {
                transform: rotate(180deg);
              }
            }

            // .content {
            //   display: block;
            // }
          }

          h2 {
            display: flex;
            align-items: center;

            &::after {
              content: "";
              margin-left: auto;
              display: block;
              background-image: url(../assets/images/prime-arrow-down.svg);
              background-position: 50%;
              background-size: cover;
              background-repeat: no-repeat;
              width: 27px;
              height: 15px;
              transition: 0.3s;
            }

            @media (hover: hover) {
              &:hover {
                cursor: pointer;
              }
            }
          }

          .content {
            display: none;
            &__content {
              a {
                color: var(--primary-theme);
              }
              padding: 30px 0;
              border-top: 1px solid var(--grey3);

              ul {
                li {
                  margin-left: 20px;
                  &::marker {
                    color: var(--primary-theme);
                  }
                }
              }
            }

            .download-item {
              list-style: none;
              li {
                padding: 30px 0 0;
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 20px;
                font-weight: 600;
                @media (max-width: map-get($grid-breakpoints, lg)) {
                  gap: 10px;
                  flex-wrap: wrap;
                }

                &:before {
                  content: "";
                  width: 21px;
                  height: 26px;
                  display: block;
                  background: url(../assets/images/pdf.svg) no-repeat
                    center/cover;
                }
                padding-top: 30px;
                &:first-child {
                  border-top: 1px solid var(--grey3);
                }
                &:not(:last-child) {
                  padding-bottom: 30px;
                  border-bottom: 1px solid var(--grey3);
                }
              }

              .download {
                font-size: 16px;
                text-transform: capitalize;
                color: var(--black);
                display: flex;
                align-items: center;
                gap: 10px;
                @media (min-width: map-get($grid-breakpoints, lg)) {
                  margin-left: auto;
                }

                &::before {
                  content: "";
                  width: 16px;
                  padding: 4px;
                  height: 16px;
                  background: url(../assets/images/download-icon.svg) no-repeat
                    center/cover;
                }
              }
            }
          }
        }
      }
    }

    .load-more-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;

      a {
        background-color: var(--grey5);
        border-radius: 12px;
        color: var(--black);
        font-weight: 600;
        padding: 12px 16px;
      }
    }

    #year-filter-form {
      display: flex;
      gap: 10px;
      margin-bottom: 30px;

      button {
        padding: 6px 16px;
        border-radius: 12px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        font-weight: 500;

        color: var(--passus-grey);
        font-family: var(--inter);
        &.active {
          background-color: var(--primary-theme);
          color: var(--white);
        }

        @media (hover: hover) {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
