body {
  &.blog {
    background-color: var(--white);

    .posts-content {
      padding: 40px 0;
    }

    #year-filter-form {
      display: flex;
      gap: 10px;
      margin-bottom: 30px;

      button {
        padding: 6px 16px;
        border-radius: 12px;
        background-color: transparent;
        border: none;
        font-size: 18px;
        font-weight: 500;

        color: var(--passus-grey);
        font-family: var(--inter);
        &.active {
          background-color: var(--primary-theme);
          color: var(--white);
        }

        @media (hover: hover) {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
