@use "../sass/components/_varibles" as v;
.banner-with-table-ps {
  padding: 150px 0 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  color: var(--white);

  h1 {
    margin-bottom: 50px;
  }
}
